@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.RichTextEditor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
<div class="row" style="display:block;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header title">Laser</div>
            <div class="card-body">
                <div class="form-label-group">
                    <div class="col-sm-9" style="max-width:100%">
                        <div class="form-label-group">
                            <div class="col-sm-12" style="margin-top:10px;">
                                <label class="col-form-label labelFont">Producer</label>
                                <InputText Class="form-control inputTextClass" @bind-Value="@model.Producer" placeholder="Producer" />
                                <ValidationMessage For="@(() => model.Producer)" />
                            </div>
                        </div>
                        <div class="form-label-group">
                            <div class="col-sm-12" style="margin-top:10px;">
                                <label class="col-form-label labelFont">Model</label>
                                <InputText Class="form-control inputTextClass" @bind-Value="@model.Model" placeholder="Model" />
                                <ValidationMessage For="@(() => model.Model)" />
                            </div>
                        </div>
                        <div class="form-label-group">
                            <div class="col-sm-12" style="margin-top:10px;">
                                <label class="col-form-label labelFont">Type</label>
                                <InputText Class="form-control inputTextClass" @bind-Value="@model.Type" placeholder="Type" />
                                <ValidationMessage For="@(() => model.Type)" />
                            </div>
                        </div>
                        <div class="form-label-group">
                            <div class="col-sm-12" style="margin-top:10px;">
                                <label class="col-form-label labelFont">Max Power</label>
                                <InputNumber Class="form-control inputTextClass" @bind-Value="@model.MaxPower" placeholder="Max Power" />
                                <ValidationMessage For="@(() => model.MaxPower)" />
                            </div>
                        </div>
                        <div class="form-label-group">
                            <div class="col-sm-12" style="margin-top:10px;">
                                <label class="col-form-label labelFont">Output Power</label>
                                <InputNumber Class="form-control inputTextClass" @bind-Value="@model.OutputPower" placeholder="Output Power" />
                                <ValidationMessage For="@(() => model.OutputPower)" />
                            </div>
                        </div>
                        <div class="form-label-group">
                            <div class="col-sm-12" style="margin-top:10px;">
                                <label class="col-form-label labelFont">Wave length</label>
                                <InputNumber Class="form-control inputTextClass" @bind-Value="@model.WaveLength" placeholder="Wave length" />
                                <ValidationMessage For="@(() => model.WaveLength)" />
                            </div>
                        </div>
                        <div class="form-label-group">
                            <div class="col-sm-12" style="margin-top:10px;">
                                <label class="col-form-label labelFont">Description</label>
                                <InputTextArea Class="form-control inputTextClass" @bind-Value="@model.DescriptionFORM" placeholder="Description" />
                                <ValidationMessage For="@(() => model.Description)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public LaserViewModel model { get; set; } = new LaserViewModel();

    protected override void OnInitialized()
    {

    }
}

<style>
    .validation-message {
        color: red;
        font-size: 12px;
    }
</style>