@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.RichTextEditor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
<div class="row" style="display:block;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header title">Fluorophore</div>
            <div class="card-body">
                <div class="form-label-group">
                    <div class="col-sm-9" style="max-width:100%">
                        <div class="form-label-group">
                            <div class="col-sm-12" style="margin-top:10px;">
                                <label class="col-form-label labelFont">Name</label>
                                <InputText Class="form-control inputTextClass" @bind-Value="@model.Name" placeholder="Name" />
                                <ValidationMessage For="@(() => model.Name)" />
                            </div>
                        </div>
                        <div class="form-label-group">
                            <div class="col-sm-12" style="margin-top:10px;">
                                <label class="col-form-label labelFont">Emission</label>
                                <InputNumber Class="form-control inputTextClass" @bind-Value="@model.Emission" placeholder="Emission" />
                                <ValidationMessage For="@(() => model.Emission)" />
                            </div>
                        </div>
                        <div class="form-label-group">
                            <div class="col-sm-12" style="margin-top:10px;">
                                <label class="col-form-label labelFont">Absorption</label>
                                <InputNumber Class="form-control inputTextClass" @bind-Value="@model.Absorption" placeholder="Absorption" />
                                <ValidationMessage For="@(() => model.Absorption)" />
                            </div>
                        </div>
                        <div class="form-label-group">
                            <div class="col-sm-12" style="margin-top:10px;">
                                <label class="col-form-label labelFont">Class</label>
                                <InputText Class="form-control inputTextClass" @bind-Value="@model.Class" placeholder="Class" />
                                <ValidationMessage For="@(() => model.Class)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public FluorophoreViewModel model { get; set; } = new FluorophoreViewModel();

    protected override void OnInitialized()
    {

    }
}

<style>
    .validation-message {
        color: red;
        font-size: 12px;
    }
</style>